.recommend_item {

  &__container {
    width: var(--container-width);
    margin: 0 auto 40px;
  }

  &__list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
}
