.section__title {
  padding: 12px 20px;
  border-left: 5px solid var(--border-color-black);
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  color: var(--text-default);
  margin-bottom: 16px;
}
