.section__title {
  padding: 12px 20px;
  border-left: 5px solid $border-color-black;
  font-family: $font-family;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  color: $text-default;
  margin-bottom: 16px;
}
