.container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 16px;
  background-color: val(--background-primary);
  border: 1px solid var(--border-light);
  border-radius: 4px;
}

.judgement {
  font-family: var(--font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  color: var(--neutral-600);
}

.name {
  font-family: var(--font-family);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  color: var(--text-primary);
}

.address {
  font-family: var(--font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: var(--text-primary);
}
