.login__portal {
  width: $container-inner-width;
  border: 1px solid $border-color-default;
  border-radius: 8px;
  margin: 24px auto 120px;

  &__login,
  &__to_new_user {
    padding: 24px;

    &__form {
      padding: 0 116px;
    }

    &__forgot {
      text-align: center;
      margin-bottom: 24px;
      &_link {
        height: 24px;
        font-family: $font-family;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        text-decoration-line: underline;
        color: $text-default;
        cursor: pointer;
      }
    }
  }
  &__to_new_user {
    padding: 24px;
  }
}
