:root {
  /* width */
  --container-width: 960px;
  --container-inner-width: 680px;
  --container-inner-width-without-cart-summary: 520px;

  /* フォント */
  --font-family: Noto Sans JP,
    メイリオ,
    Meiryo,
    ヒラギノ角ゴ Pro W3,
    Hiragino Kaku Gothic Pro,
    MS PGothic,
    ＭＳ Ｐゴシック,
    sans-serif;
}
