.section__title {
  width: 100%;
  padding: 12px 20px;
  border-left: 5px solid var(--border-dark);
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  color: var(--text-on-primary-light);
  background-color: var(--background-primary);
  margin-bottom: 16px;

  &.small {
    font-size: 16px;
  }

  &.medium {
    font-size: 18px;
  }

  &.large {
    font-size: 24px;
  }
}
