.item__sort__field {
  background-color: var(--background-secondary);
  margin-bottom: 24px;

  &__container {
    display: flex;
    justify-content: flex-end;
    gap: 8px;
    width: 100%;
    padding: 8px 16px;
    user-select: none;
    cursor: pointer;

    &:hover {
      background-color: var(--background-tertiary);
    }

    &__icon {
      width: 24px;
      height: 24px;
      color: var(--text-on-primary-light);
    }
  }

  &__list {
    display: grid;
    grid-template-rows: 0fr;

    transition-property: grid-template-rows, padding;
    transition-duration: 0.5s;
    transition-delay: 0s;
    transition-timing-function: ease-in-out;

    &__open {
      grid-template-rows: 1fr;
      padding-top: 16px;
      padding-bottom: 16px;
    }

    &__inner {
      padding-left: 16px;
      padding-right: 16px;
      padding-top: 0;
      padding-bottom: 0;
      overflow: hidden;

      &__row {
        display: flex;
        flex-direction: column;
        margin-bottom: 24px;
      }
    }

    &__item {
      padding: 8px 16px;
      cursor: pointer;

      &:hover {
        background-color: var(--background-tertiary);
      }
    }

    &__button {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 8px;
    }
  }
}
