.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 48px;
  background-color: var(--neutral-900);
  border: 1px solid var(--border-dark);
  border-radius: 4px;
  color: var(--text-on-primary);
  cursor: pointer;
  text-decoration: none;
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  transition: all 0.2s ease;
  position: relative;

  &:active {
    transform: translateY(2px);
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2);
  }

  &:focus-visible {
    outline: 0;
  }

  &:hover {
    opacity: 0.8;
  }

  &[aria-pressed="true"] {
    opacity: 0.8;
    background-color: var(--background-tertiary);
    border-color: var(--border-dark);
    transform: translateY(2px);
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2);
  }
}

.white {
  background-color: var(--background-primary);
  border-color: var(--border-light);
  color: var(--text-on-primary-light);

  // &:hover {
  //   opacity: 1;
  //   background-color: var(--background-tertiary);
  // }

  &[aria-pressed="true"] {
    opacity: 1;
    background-color: var(--background-secondary);
    border-color: var(--border-dark);
    transform: translateY(2px);
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2);
  }
}
