@import url('../InputField/InputField.module.scss');

.input__password__field {

  &__container {
    position: relative;

    .input {
      padding-right: 48px;
    }
  }

  &__icon__container {
    display: inline-block;
    width: 24px;
    height: 24px;
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
  }

  &__icon {
    width: 24px;
    height: 24px;
  }
}
