.link {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px;

  width: 100%;
  height: 48px;

  background: $background-color-black;
  border-radius: 4px;
  color: $text-white;
  text-decoration-line: none;
  cursor: pointer;
}
