.footer {
  height: 100%;
  // background-color: var(--background-color-white);
}

.bussinessHours {
  min-width: var(--container-width);
  // background-color: var(--background-color-white);
  padding: 20px 0;

  &Title {
    width: var(--container-width);
    margin: 0 auto;
    font-family: Open Sans, var(--font-family);
    font-size: 1.6rem;
    font-weight: 700;
    color: var(--text-default);
    margin-bottom: 5px;
  }

  &Text {
    width: var(--container-width);
    margin: 0 auto;
    font-size: 1.2rem;
    color: var(--text-default);
  }
}
