.itemLink {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 11px 0;
  color: $text-default;
  text-decoration: unset;

  &:hover {
    background-color: $background-color-gray-hovered;
  }

  &:active {
    background-color: $background-color-gray-pressed;
  }

  &IconCircle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    color: $text-default;
  }

  .text {
    // color: $text-default;
    // font-size: 1.2rem;
  }
}
